{% comment %}
  Renders the product tile.
{% endcomment %}

{% assign is_sale = false %}
{% if product.first_available_variant.compare_at_price != blank %}
  {% if product.first_available_variant.compare_at_price > product.first_available_variant.price %}
    {% assign is_sale = true %}
  {% endif %}
{% endif %}

  <article
    class="flex flex-col gap-[15px]"
    data-product-tile
  >
    <script type="application/json" data-variants>
      [
        {% for variant in product.variants %}
          {
            "featured_image": {{ variant.featured_image | json }},
            "hover_image": {{ variant.metafields.custom.secondary_image.value | json }},
            "price": {{ variant.price | json }},
            "compare_at": {{ variant.compare_at_price | json }},
            "options": {{ variant.options | json }}
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    </script>
    <div class="group relative overflow-hidden border border-[#E8E8E8] rounded-xl">
      <div
        class="text-[#FF0000] bg-white rounded-full border border-[#FF0000] py-1.5 px-3 capitalize absolute top-[20px] left-[20px] z-[1] {% if is_sale == false %} hidden {% endif %}%}"
        data-badge
      >
        {{ 'products.sale' | t }}
      </div>
      <div class="transition-opacity duration-300 ease-in-out group-hover:opacity-0 p-5">
        {% if product.first_available_variant.featured_image != blank %}
         <img
            src="{{ product.first_available_variant.featured_image | image_url: width: 600 }}"
            alt="{{ product.title }}"
            width="315"
            height="315"
            data-image-primary
          >
        {% else %}
          {{ 'product-apparel-1' | placeholder_svg_tag }}
        {% endif %}
      </div>
      <div class="absolute inset-0 opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100 p-5">
        {% if product.first_available_variant.metafields.custom.secondary_image != blank %}
          <img
            src="{{ product.first_available_variant.metafields.custom.secondary_image.value | image_url: width: 600 }}"
            alt="{{ product.title }}"
            width="315"
            height="315"
            data-image-secondary
          >
        {% else %}
          {{ 'product-apparel-1' | placeholder_svg_tag }}
        {% endif %}
      </div>
    </div>

    {% assign color_option_index = blank %}
    {% for option in product.options_with_values %}
      {% if option.name == 'Color' %}
        {% assign color_option_index = forloop.index0 %}
      {% endif %}
    {% endfor %}
    {% if color_option_index != blank %}
      {% assign color_option = product.options_with_values[color_option_index] %}
      <div class="flex gap-[5px]">
        {% for value in color_option.values %}
          <button 
            type="button"
            class="rounded-full p-[2px] border-black border-solid {% if forloop.first %} border {% endif %}" 
            data-color="{{ value }}"
            data-color-swatch
          >
            <span 
              class="size-5 block rounded-full"
              style="background-color: {{ value | downcase }};"
              title="{{ value }}">
            </span>
          </button>
        {% endfor %}
      </div>
    {% endif %}

    <a
      href="{{ product.url }}"
      class="flex flex-col gap-[6px] font-sans"
    >
      <p class="text-sm">
        {{ product.vendor }}
      </p>
      <p class="text-base font-medium text-[#0A4874]">
        {{ product.title }}
      </p>
      <div class="flex gap-2 text-sm">
        {% if product.first_available_variant.compare_at_price != blank %}
          <p
            class="line-through"
            data-compare-at
          >
            {{ product.first_available_variant.compare_at_price | money }}
          </p>
        {% endif %}
         <p
            class="{% if is_sale %} text-[#FF0000] {% endif %}"
            data-price
          >
            {{ product.first_available_variant.price | money }}
          </p>
      </div>
    </a>
  </article>

{{ 'product-tile.js' | asset_url | script_tag }}
